<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddMCHC</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<integer>1</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x67B01002</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>2560x1440</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>FBName</key>
		<string>Baladi</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>DisplayPort (1) Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQMAAAAAABIEAwMAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAQAAAQDAAAAAQMAAAAAABIEAgEAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>DisplayPort (2) Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQEAAAAAABECAQEAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAQAAAQGAAAAAQEAAAAAABAABAUAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>DisplayPort (3) Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQIAAAAAACEDAgIAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAQAAAABAAAAAQIAAAAAACABBgYAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQQAAAAAACIFBAQAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAAIAAQCAAAAAQQAAAAAACIFAwMAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>DVI-D Fix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQUAAAAAABAABQUAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAIAAAQCAAAAAQUAAAAAABECAQQAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Connector Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAQAAAQDAAAAAQYAAAAAACABBgYAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AMD8000Controller</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string>C02521303GUFF4LJA</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/11/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM151.88Z.0217.B00.1804111039</string>
		<key>Board-ID</key>
		<string>Mac-42FD25EABCABB274</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02PRQZFFY10J3FFF</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0D</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xF80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x01</string>
		<key>ProductName</key>
		<string>iMac15,1</string>
		<key>SerialNumber</key>
		<string>C02PRQZFFY10</string>
		<key>SmUUID</key>
		<string>C6AF0DD6-8AF2-43EB-91A9-DAE20D660C33</string>
		<key>SystemParameters</key>
		<string>Yes</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>F55E331C-6472-4437-8722-CA65243EF7BF</string>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
